.Sobre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    font-family: "Times New Roman", Times, serif;   
}

.background{
    background: url('../../Assets/backgroundSobre.jpg');
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-text {
    width: 70%;
}